In [1]:
import torch
import torch.nn as nn
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
from sklearn.metrics import mean_squared_error

def plot_predictions(model, X, y, start = 0, end = 100):
    predictions = model.predict(X).flatten()
    df = pd.DataFrame(data={'Predictions': predictions, 'Actuals': y})
    plt.plot(df['Predictions'][start:end])
    plt.plot(df['Predictions'][start:end])

    return df, mean_squared_error(y, predictions)

In [25]:
data = pd.read_csv("data/daily-minimum-temperatures-in-me.csv", parse_dates = True, index_col= 'Date')
data.head()
data

           Daily minimum temperatures
Date
1981-01-01                       20.7
1981-01-02                       17.9
1981-01-03                       18.8
1981-01-04                       14.6
1981-01-05                       15.8
...                               ...
1990-12-27                         14
1990-12-28                       13.6
1990-12-29                       13.5
1990-12-30                       15.7
1990-12-31                         13

[3650 rows x 1 columns]

In [34]:
lst = []
for i in range(len(data)):
    try:
        float(data.iloc[i].values[0])
    except:
        lst.append(data.iloc[i].name)
lst

[Timestamp('1982-07-20 00:00:00'),
 Timestamp('1982-07-21 00:00:00'),
 Timestamp('1984-07-14 00:00:00')]

In [35]:
data.drop(lst, axis = 0, inplace= True)
print(len(data))

3647

In [36]:
data = data.astype(float)